.outer-box {
    /* TODO fix smooth bg transition */
    transition: all 1s ease-in-out;
}
.padded-view {
    padding: 20px;
}

.psychedelic-bg {
    background: linear-gradient(20deg, #353535, #000000);
    background-size: 300% 300%;
    animation: gradient 20s linear infinite;
}
.psychedelic-bg headerbar {
  border: none;
  box-shadow: none;

}

.psychedelic-bg headerbar {
    background-color: transparent;
    border-bottom: 0px;
    color: #fff;
}

.pill {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.server-ip-list {
  color: #777;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.mirror-widget {
    outline: 1px solid black;
    border-radius: 12px;
    background-color: black;
}

.mirror-widget:hover {
    background-color: black;
    outline: 5px solid #333;
    outline-offset: -5px;
}
.mirror-widget:active {
    outline: 5px solid @blue_5;
    outline-offset: -5px;
}


.device-item {
    padding: 10px;
}
.device-item:not(:checked) {
    background-color: transparent;
}
.device-item:checked {
    border: 1px solid @accent_color;
    border-radius: 12px;
    background-color: @view_bg_color;
    color: @accent_color;
}

.p-20 {
    padding: 20px;
}